# Python / 환경
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# IDE / 툴
.vscode/
.idea/
*.code-workspace

# 빌드 결과
build/
dist/
*.spec

# 데이터베이스 / 로컬 데이터
data/
*.db

# 설정(민감 정보)
config/settings.yaml

